.preview-layout
	background-color #000000

.editor-layout
	background-color #212121
	
.details-area
	background-color #AAA
	height 100vh
	
.auto-margin
	margin 0
	
md-content
	top 0
	left 0
	position absolute
	width 100%
	min-height 100vh